#myl
{
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: Helvetica;
}
#btns
{
    text-align: center;
    
    
}
.bt
{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
background-color: rgb(206, 16, 239);
border-radius: 5px;
cursor: pointer;
transition: background-color 0.25s;

}
.bt:hover
{
    background-color: aqua;
}